.entry-home-container {
    display: grid;
    grid-template-columns: 2fr 7fr;
    height: 100%;
    width: auto;
    background-color: white;
}

.entry-left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 6px solid rgb(8, 8, 8);
    position: sticky;
    background-color: white
}

.entry-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100px;
    background-color: rgb(52, 51, 51);
    /* background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%); */

}


.fas.fa-arrow-left {
    font-size: 26px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 16px;
    width: 50px
}


.fas.fa-book {
    margin-left: 10px;
    font-size: 30px;
    color: white;
}

.book-icon-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 240px;

}

.book-icon-title p{
    font-weight: 500;
    font-family: "Lato";
    font-size: 15px;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0;

}

.book-icon-title h5{
    font-weight: 500;
    font-family: "Lato";
    font-size: 18px;
    font-weight: 600;
    color: white;
    padding: 0;
    margin: 0 0 0 20px;
}

.entries-length-search {
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color:rgb(97, 97, 97);
    color: white;
}

.entry-list-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-self: center;
    background-color: rgb(253, 253, 253);
}

.entry-list-box {
    height: 400px;
}

.entry-content {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 70px;
    border-bottom: 1px solid rgb(214, 211, 211);
    align-items: center;
    margin: 10px;
    cursor: pointer


}

.entry-content p{
    padding: 2px;
    margin: 0;
}

.entry-content-title p{
    font-weight: 600;
}

.entry-content-created p {
    color: grey;
}

/* ************************ RIGHT SIDE *********************************** */

.entry-right-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 6px solid rgb(8, 8, 8);
    background-color: rgb(243, 236, 236);
}


/* ********************* ENTRY CREATE ****************************** */

.text-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 40px;

}

.text-editor {
    padding: 80px;
    background-color: white;
    width: 80%;
    height: 100%;
}
.form-edit-container{
    height: 100%;
    width: 100%;
    background-color: white;
    overflow-y: scroll;
}
.content-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-title input{
    height: 20px;
    width: 800px;
    padding:6px
}

.editor{
    overflow-y: scroll;
}

.submit-entry-bttn {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}
