.entry-home-container {
    display: grid;
    grid-template-columns: 1fr 6fr;
    height: 100vh;
    width: auto;
}

.entry-left-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    border-right: 1px solid rgb(230, 228, 228);
    background-color: white;
}

.entry-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 340px;
    height: 80px;
    background-color: rgb(35, 35, 35);

}


.fas.fa-arrow-left {
    font-size: 25px;
    color: white;
    cursor: pointer;
    text-decoration: none;
    margin-left: 16px;
}

.book-icon-title {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
}

.fas.fa-book {
    margin-left: 10px;
    font-size: 20px;
    color: white;
}

.book-icon-title p{
    margin-left: 10px;
    font-weight: 500;
    font-family: "Lato";
    font-size: 25px;
    font-weight: 600;
    color: white;
}

.entries-length-search {
    border-bottom: 1px solid black;
    height: 50px;
    display: flex;
    align-items: center;
}

.entry-list-container {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-self: center;
}

.entry-content {
    width: 100%;
    height: 100%;
    border-bottom: 1px solid rgb(218, 214, 214);
    padding: 10px;


}

/* ************************ RIGHT SIDE *********************************** */

.entry-right-container {
    width: 100%;
    height: auto;
    background-color: rgb(226, 224, 224);
}


/* ********************* ENTRY CREATE ****************************** */

.text-editor-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: auto;

}

.text-editor {
    padding: 80px;
    background-color: white;
    width: 80%;
    margin-top: 30px;
    border-radius:7px;
    height: 75%;
}
.form-edit-container{
    height: 100%;
    overflow-y: scroll;
}
.content-title {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.content-title input{
    height: 30px;
}

.editor{
    overflow-y: scroll;
}

.submit-entry-bttn {
    background-color: black;
    color: white;
    width: 100px;
    height: 40px;
    border-radius: 7px;
}
