.entry-home-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
    width: auto;
}

.entry-left-container {
    display: flex;
    flex-direction: column;
    border-right: 1px solid rgb(230, 228, 228);
    background-color: #f7f7f7;
}

.entry-nav {
    display: flex;
    flex-direction: row;
    margin-left: 40px;
    align-items: center;

}

.fas.fa-arrow-left {
    font-size: 30px;
    color: black;
    cursor: pointer;
    text-decoration: none;

}

.entry-nav p{
    margin-left: 20px;
    font-weight: 500;
    font-family: "Lato";
    font-size: 30px;
    font-weight: 600;

}

.fas.fa-arrow-left:visited {
    color: black;
    text-decoration: none;
}


.entry-right-container{
    background-color: white;
}
