.login-page-container {
    display: grid;
    grid-template-columns: 10fr 10fr;
    height: 100vh;
}

.login-pic-container img{
    margin-left: 40px;
    margin-top: 30px;
    height: 500px;
    width: 550px;
}

.login-form-page {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 6px;
    width: 450px;
    height: 400px;
    margin-left: 100px;
    margin-top: 120px;

}

.login-form {
    margin:69px;
    width: 70vh;
    margin-left: 65px;

}

.login-form h2{
    font-family: Arial, Helvetica, sans-serif;
}

.login-info-inputs {
    display: flex;
    flex-direction: column;
}

.login-info-inputs label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 20px;
}

.login-info-inputs input {
    height: 40px;
    border: 0.5px solid #e4e9ed;
    border-radius: 5px;
    margin-top: 20px;
}


.signup-redirect .signup-link {
    text-decoration: none;
    color: black;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
}

.signup-redirect p {
    font-family: Arial, Helvetica, sans-serif;
}

.login-buttons {
    margin-top: 70px;
}

/* ************************* SIGN UP ****************************************************** */

.signup-container {
    background-image: url(https://i.imgur.com/GCovHP3.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
}

.signup-form-page {
    display: flex;
    justify-content: center;
    background-color: white;
    height: 85%;
    width: 35%;
    border-radius: 6px;
    margin-top: 40px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}



.signup-inputs {
    display: flex;
    flex-direction: column;
    width: 400px;
}

.signup-inputs label {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 0px;
    margin-top: 5px;
}

.signup-inputs p {
    text-align: center;
    color: rgb(255, 0, 0);
    font-size: 13px;
    margin: 0;
    padding: 0;
}

.signup-inputs input {
    height: 35px;
    border: 0.5px solid #e4e9ed;
    border-radius: 5px;
    margin-top: 10px;
    outline: none;
}

.signup-bttn {
    margin-left: 160px;
}
