.home-container {
    display: flex;
    flex-direction: column;
    background-color: #f7f7f7;
    height: 100vh;
    width: 100%;
}

.journal-show-container {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    flex-direction: row;
    background-color: #f7f7f7;
    height: 100vh;

}

.testing-div{
    width: 170px;
    height: 250px;
    display: flex;
   justify-content: center;
   flex-direction: row;
}



.entries-link {
    color: black;
    text-decoration: none;
}

.entries-link:visited {
    color: black;
    text-decoration: none;
}


.each-journal {
    height:100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px

}


.cover-img {
    width: 100%;
    height: 100%;
    align-self: center;
    object-fit: cover;
    object-position: bottom;
    box-shadow: -2px 2px 4px 1px rgb(0 0 0 / 30%);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;

    /* animation: .3s both scaleIn; */
}

.cover-img:hover {
    opacity: 0.8;
    background-color: black;
}

.journal-edit-trash {
    display: none
}

.journal-show-container .each-journal:hover .journal-edit-trash {
    display: block;
    opacity: 0.5;
    color: black;
    position: absolute
}
