.fas.fa-plus {
    font-size: 30px;
    color: grey;
}

.journal-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    position: fixed;
    border-radius: 3px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    animation-duration: 1s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
      right: -100vh;
    }

    to {
      right: 0;
    }
}
