.fas.fa-plus {
    font-size: 20px;
    color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;

}

.fas.fa-plus p {
  margin-left: 10px;
  align-items: center;
}

.fas.fa-plus:hover {
  background-color: rgb(226, 220, 220);
  width: 100px;
  height: 30px;
  border-radius: 5px;
}

.journal-form-container {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 400px;
    position: fixed;
    border-radius: 3px;
    overflow-y: scroll;
    top: 0;
    bottom: 0;
    right: 0;
    animation-duration: 1s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
      right: -100vh;
    }

    to {
      right: 0;
    }
}
