.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    background: rgb(255, 255, 255);
    position: sticky;
    top: -1px;
    color: white;
    text-align: center;
}

.entries-nav-bar-container {
    display: flex;
    align-content: stretch;
    flex-direction: row;
    justify-content: space-between;
    height: 55px;
    width: 100%;
    background: rgb(255, 255, 255);
    top: -1px;
    color: white;
    text-align: center;
    position: relative;
    /* display: block; */
}

.nav-bar-container::before, .nav-bar-container::after {
    display: block;
    height: 16px;
    position: sticky;
    -webkit-position: sticky;
}


.nav-logo {
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    height: 36px;
    width: 100%;
}

.nav-login-signup-container {
    display: flex;
    align-items: center;
    margin: 30px;
}

.demo-bttn {
    margin-right: 20px;
    border-radius: 40px;
    height: 37px;
    width: 125px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    letter-spacing: 1.2px;
    color: white;
    background-color: black;
}

#login-nav, #signup-nav {
    text-decoration: none;
    margin: 25px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1.2px;
    color: rgb(166, 166, 166);
}

#login-nav:visited, #signup-nav:visited {
    text-decoration: none;
    color: rgb(166, 166, 166);

}

#login-nav.active, #signup-nav.active {
    color: rgb(11, 11, 11);
}


.user-logout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fas.fa-bars {
    font-size: 35px;
    color: black;
    margin: 10px;
    cursor: pointer;
}

.fas.fa-portrait {
    font-size: 40px;
    color: black;
    margin: 20px;
    cursor: pointer;
}


/* **************** PROFILE BUTTON ************************8 */


.profile-container {
    /* display: flex;
    flex-direction: column; */
    background-color: rgb(233, 233, 233);
    width: 28%;
    position: fixed;
    border-radius: 3px;
    top: 0;
    bottom: 0;
    right: 0;
    animation-duration: 1s;
    animation-name: slideIn;
}

@keyframes slideIn {
    from {
    right: -100vh;
    }

    to {
    right: 0;
    }
}

.user-profile {
    background-color: white;
    display: flex;
    flex-direction: column;
}


.exit-profile {
    height: 7%;
}

.exit-profile i {
    font-size: 30px;
    color: black;
    padding: 18px;
    height: 10px;
    cursor: pointer;
}

.exit-profile i:hover {
    color: grey;
}

.profile-pic {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-pic-content {
    margin-left: 5%;
    margin-top: 2%;
}

.profile-pic-content .fa-portrait {
    font-size: 70px;
    color: grey;

}

.profile-username {
    margin: 0 0 25px 0;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 1.2px;
    font-family: Arial, Helvetica, sans-serif;
}

.happiness-scale {
    text-align: center;
    /* margin-top: 2%; */
    margin: 0 0 10% 2%;
    padding: 0;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.happiness-scale span {
    font-size: 14px;
}


.profile-content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 40px;
}

.profile-content {
    margin-left: 30px;
    width: 250px;
}

.profile-content p {
    margin: 6px;
}

.logout-bttn {
    width: 100px;
    border: none;
    height: 40px;
    text-decoration: none;
    font-size: 12px;
    background-color: rgb(255, 0, 0);
    color: white;
    border-radius: 45px;
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    outline: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    letter-spacing: 1.4px;
    transition: all 0.3s ease 0s;
    margin-right: 30px;
}

.logout-bttn:hover {
    box-shadow: 0px 15px 20px rgb(231, 231, 231);
    color: #fff;
    transform: translateY(-7px);
}
