.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    box-shadow: -2px 2px 4px 1px rgb(0 0 0 / 30%);
    /* background-image: linear-gradient(to right,#f23f21,#e74c3c); */
}

.nav-logo {
    display: flex;
    align-items: center;
}

.logo {
    height: 50px;
    width: 100%;
}

.nav-login-signup-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.user-logout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.fas.fa-portrait, .fas.fa-bars {
    font-size: 40px;
    color: black;
}
