.nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background: rgb(255, 255, 255);
    position: sticky;
    top: -1px;
    color: white;
    text-align: center;
}

.entries-nav-bar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 60px;
    background: rgb(255, 255, 255);
    top: -1px;
    color: white;
    text-align: center;
}

.nav-bar-container::before, .nav-bar-container::after {
    display: block;
    height: 16px;
    position: sticky;
    -webkit-position: sticky;
}
/* .nav-bar-container::before {
    top: 48px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
}

.nav-bar-container::after {
    background: linear-gradient(white 10%, rgba(255,255,255,0.8) 50%, rgba(255,255,255,0.4) 70%, transparent);
    top: 40px;
    z-index: 2;

} */


.nav-logo {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    height: 50px;
    width: 100%;
}

.nav-login-signup-container {
    display: flex;
    align-items: center;
    margin: 30px;
}

.demo-bttn {
    margin-right: 20px;
    border-radius: 40px;
    height: 40px;
    width: 125px;
    border: none;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 1.2px;
    color: white;
    background-color: black;
}

#login-nav, #signup-nav {
    text-decoration: none;
    margin: 25px;
    font-size: 17px;
    cursor: pointer;
    letter-spacing: 1.2px;
}

#login-nav:visited, #signup-nav:visited {
    text-decoration: none;
    color: rgb(166, 166, 166);

}

#login-nav.active, #signup-nav.active {
    color: rgb(11, 11, 11);
}


.user-logout-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

 .fas.fa-sign-out-alt, .fas.fa-bars, .fas.fa-portrait{
    font-size: 34px;
    color: black;
    margin: 10px;
    cursor: pointer;
}

/* .fas.fa-portrait {
    font-size: 34px;
    color: black;
    margin: 10px;

} */
